# ShieldedPool contract address
CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000

# RPC URLs
RPC_URL_SEPOLIA=
RPC_URL_ARB_SEPOLIA=

# Subgraph URLs
SUBGRAPH_URL_SEPOLIA=
SUBGRAPH_URL_ARB_SEPOLIA=

# EOA private key of approver address
PRIVATE_KEY=0x...