# The owner of deployed contract in script DeployShieldedPool.s.sol
GOVERNOR=

# Salt for deterministic address in deployment scripts
SALT=

# Used in DeployTokens.s.sol for shielded pool address reference
SHIELDED_POOL=