NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID="your-project-id"

NEXT_PUBLIC_CONTRACT_SHIELDED_POOL=

# Per-chain RPC URLs
NEXT_PUBLIC_RPC_URL_SEPOLIA=
NEXT_PUBLIC_RPC_URL_ARB_SEPOLIA=
NEXT_PUBLIC_RPC_URL_OP_SEPOLIA=
NEXT_PUBLIC_RPC_URL_BASE_SEPOLIA=

# Per-chain Subgraph URLs
NEXT_PUBLIC_SUBGRAPH_URL_SEPOLIA=
NEXT_PUBLIC_SUBGRAPH_URL_ARB_SEPOLIA=
NEXT_PUBLIC_SUBGRAPH_URL_OP_SEPOLIA=
NEXT_PUBLIC_SUBGRAPH_URL_BASE_SEPOLIA=

NEXT_PUBLIC_WORMHOLE_TOKENS=
NEXT_PUBLIC_WORMHOLE_TOKEN_TYPES=

# polymer
NEXT_PUBLIC_POLYMER_PROVER_API_URL=
NEXT_PUBLIC_POLYMER_API_KEY=

# Array of tokens that support IWormhole
NEXT_PUBLIC_WORMHOLE_TOKENS=
# Array of same length as above of token standard for each
NEXT_PUBLIC_WORMHOLE_TOKEN_TYPES=

# EOA private key for executing shielded transfers
SERVER_RELAYER_PRIVATE_KEY=

RELAYER_RPC_URL=
