NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID="your-project-id"

NEXT_PUBLIC_SUBGRAPH_URL=http://localhost:8000/subgraphs/name/{NAME}

NEXT_PUBLIC_CONTRACT_KAMUI=

NEXT_PUBLIC_CONTRACT_WORMHOLE_ASSET_ERC20_IMPLEMENTATION=
NEXT_PUBLIC_CONTRACT_WORMHOLE_ASSET_ERC4626_IMPLEMENTATION=

# Array of tokens that support IWormhole
NEXT_PUBLIC_WORMHOLE_TOKENS=
# Array of same length as above of token standard for each
NEXT_PUBLIC_WORMHOLE_TOKEN_TYPES=

# EOA private key for executing shielded transfers
SERVER_RELAYER_PRIVATE_KEY=

RELAYER_RPC_URL=