# Account that will be syncing trees on all chains
PRIVATE_KEY=

# ShieldedPool contract address
CONTRACT_ADDRESS=

# Polymer
POLYMER_PROVER_API_URL=
POLYMER_API_KEY=

# RPC URLs
RPC_URL_SEPOLIA=
RPC_URL_ARB_SEPOLIA=

# Subgraph URLs
SUBGRAPH_URL_SEPOLIA=
SUBGRAPH_URL_ARB_SEPOLIA=